.map {
    background: $color-map;
    text-align: center;
}

.ville {
    display: flex;
    justify-content: center;
    background: $color-recherche-ville;
    margin-top: -10px;
    font-family: 'roboto';
    padding: 25px;
    box-shadow: inset 0px 5px 10px -5px rgba(78, 75, 75, 0.5); /* inset modifie l'ombre afin qu'elle soit tournée vers l'intérieur */

    i {
        font-size: 1em;
    }
}

input {
    border: none;
    background-color: $color-recherche-ville;
    font-weight: bold;
    font-family: "roboto";
    text-align: center;
    width: 100px;
}

.description {
    text-align: center;

    h1 {
        font-size: 1.7em;
        font-weight: bold;
        margin: 30px;
        font-family: 'roboto';
    }

    p {
        font-size: 1.1em;
        margin-top: -10px;
        font-family: 'roboto';
    }
}

@media screen and (max-width: 500px) {
    p {
        margin: 20px;
    }
}