#titre_logo {
    text-align: center;
    font-family: "shrikhand";

    a {
        color: black;
    }
}

header .fa-arrow-left {
    font-size: 1.5em;
    position: absolute;
    top: 32px;
    left: 20px;
}