/* ---------- Header, font shrihand ---------- */
#titre_logo {
    text-align: center;
    font-family: "shrikhand";

    a {
        color: $color-noir;
    }
}

header .fa-arrow-left {
    font-size: 1.5em;
    position: absolute;
    top: 32px;
    left: 20px;
}

header img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    text-align: center;
    margin-top: -10px;
}

@media screen and (max-width: 767px) {
    header img {
        width: 100%;
        margin-top: -10px;
    }
}