@charset "UTF-8";
/* ---------- Font shrihand logo, titre et roboto le reste ---------- */
@font-face {
  font-family: "shrikhand";
  src: url(sass/base/polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(sass/base/polices/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-black";
  src: url(sass/base/polices/Roboto/Roboto-Black.ttf);
}
/* Fichier variable déclaration */
/* ---------- Body corp du document ---------- */
body {
  margin: 0;
  padding: 0;
}

/* ---------- Header, font shrihand ---------- */
#titre_logo {
  text-align: center;
  font-family: "shrikhand";
}
#titre_logo a {
  color: #000000;
}

header .fa-arrow-left {
  font-size: 1.5em;
  position: absolute;
  top: 32px;
  left: 20px;
}

header img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  text-align: center;
  margin-top: -10px;
}

@media screen and (max-width: 767px) {
  header img {
    width: 100%;
    margin-top: -10px;
  }
}
/* ---------- Explorez, input, h1 ---------- */
.map {
  background: #f6f6f6;
  text-align: center;
}

.ville {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  margin-top: -10px;
  font-family: "roboto";
  padding: 15px;
  box-shadow: inset 0px 5px 10px -5px rgba(78, 75, 75, 0.5);
  /* inset modifie l'ombre afin qu'elle soit tournée vers l'intérieur */
}
.ville i {
  font-size: 1em;
}

input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
  font-family: "roboto";
  text-align: center;
  width: 130px;
  font-size: 1em;
}

.description {
  text-align: center;
}
.description h1 {
  font-size: 1.7em;
  margin: 30px;
  font-family: "roboto";
  font-weight: 700;
}
.description p {
  font-size: 1.1em;
  margin-top: -10px;
  font-family: "roboto";
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  p {
    margin: 20px;
  }
}
/* ---------- Bouton explorez nos restaurant ---------- */
.button_explorez {
  height: 43px;
  width: 210px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  /* crée une image constituée d'une transition progressive entre deux ou plusieurs couleurs */
  color: #fff;
  font-size: 0.9em;
  font-family: "roboto";
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 12px;
  cursor: pointer;
}
.button_explorez:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px #b4b2b8;
}

/* ---------- Section fonctionnement ---------- */
section h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 1.7em;
  font-family: "roboto", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  section h2 {
    text-align: justify;
    margin-left: 30px;
    margin: 30px;
  }
}

.number {
  height: 13px;
  width: 13px;
  text-align: center;
  margin-top: 44px;
  margin-right: -15px;
  background-color: #9356DC;
  color: #fff;
  font-family: "roboto";
  border-radius: 100%;
  padding: 7px;
  position: relative;
  line-height: 13px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
}

section article h4 {
  width: 300px;
  height: 30px;
  background-color: #f0eeee;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 5px 10px #b4b2b8;
  padding: 20px;
  line-height: 30px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
  cursor: pointer;
}
section article h4:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
section article h4:hover i {
  color: #9356DC;
}

section article h4 i {
  margin-right: 25px;
  color: grey;
  margin-left: 20px;
  font-size: 1.3em;
}

@media screen and (max-width: 413px) {
  section article h4 {
    width: 270px;
  }
}
@media screen and (max-width: 321px) {
  section article h4 {
    width: 245px;
  }
}
section article h4 i {
  font-size: 1.3em;
}

section article {
  margin-top: -15px;
}

/* ---------- Figure restaurant page accueil ---------- */
.restaurant {
  background-color: #eaeaea;
}
.restaurant #h2_restaurant {
  text-align: center;
  font-size: 1.7em;
  padding: 30px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .restaurant #h2_restaurant {
    text-align: left;
    margin-top: 50px;
    padding-top: 60px;
  }
}

#ensemble_figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -100px;
  margin-top: -10px;
  padding: 10px;
}

figure {
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
  width: 800px;
  height: 330px;
}
figure img {
  height: 250px;
  width: 800px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

@media screen and (max-width: 824px) {
  figure {
    width: 585px;
    height: 270px;
    margin-bottom: 10px;
  }
  figure img {
    width: 585px;
    height: 190px;
    object-fit: cover;
  }
}
@media screen and (max-width: 641px) {
  figure {
    width: 560px;
  }
  figure img {
    width: 560px;
  }
}
@media screen and (max-width: 569px) {
  figure {
    width: 450px;
  }
  figure img {
    width: 450px;
  }
}
@media screen and (max-width: 415px) {
  figure {
    width: 335px;
    height: 250px;
    margin-top: -20px;
    margin-bottom: 40px;
  }
  figure img {
    width: 335px;
    height: 170px;
  }
}
@media screen and (max-width: 376px) {
  figure {
    width: 290px;
    height: 220px;
  }
  figure img {
    width: 290px;
    height: 150px;
  }
}
@media screen and (max-width: 376px) and (max-width: 361px) {
  figure {
    width: 280px;
  }
  figure img {
    width: 280px;
  }
}
@media screen and (max-width: 321px) {
  figure {
    width: 240px;
    height: 210px;
  }
  figure img {
    width: 240px;
    height: 140px;
  }
}
.icon {
  width: 30px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 1.5em;
  color: transparent;
  /* Permet de mettre un élément transparent */
  -webkit-text-stroke: 2px #000000;
  /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone*/
  opacity: 0.4;
  /* Opacité d'un élément */
}

.icon:hover {
  /* https://developer.mozilla.org/fr/docs/Web/CSS/Pseudo-classes */
  background: linear-gradient(80deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  /*  La zone d'arrière-plan s'étend dans le texte. (La forme) https://www.zonecss.fr/proprietes-css/webkit-background-clip-css.html */
  -webkit-text-stroke: 0px;
  /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone */
  opacity: 1;
  transition: cubic-bezier(0.9, 1, 0.6, 0.7), opacity 700ms ease-in 100ms;
  /* cubic 2 première pour la progression 2 suivant pour la durer, opacity la durer de l'opacity https://cubic-bezier.com/#.17,.67,.83,.67 */
  /* ease-in 100ms le temps que le coeur arrive au bout la durer de l'éclaircissement */
}

figcaption h2 {
  font-size: 1.3em;
  font-family: "roboto";
  color: #000000;
  margin-left: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 376px) {
  figcaption h2 {
    font-size: 1.1em;
  }
}

figcaption h3 {
  font-size: 1.2em;
  font-family: "roboto";
  color: #000000;
  font-weight: 300;
  margin-left: 15px;
  margin-top: -10px;
}
@media screen and (max-width: 376px) {
  figcaption h3 {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
}

.Nouveau {
  width: 100px;
  font-family: "roboto";
  font-size: 1.2em;
  padding: 7px;
  margin-top: -280px;
  margin-left: 650px;
  position: relative;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 1px 1px 1px 1px;
  color: #16a581;
  font-weight: bold;
}
@media screen and (max-width: 824px) {
  .Nouveau {
    margin-left: 460px;
    margin-top: -230px;
  }
}
@media screen and (max-width: 641px) {
  .Nouveau {
    margin-left: 430px;
  }
}
@media screen and (max-width: 569px) {
  .Nouveau {
    margin-left: 320px;
  }
}
@media screen and (max-width: 415px) {
  .Nouveau {
    margin-left: 235px;
    margin-top: -205px;
    width: 70px;
    padding: 7px;
    font-size: 1em;
  }
}
@media screen and (max-width: 376px) {
  .Nouveau {
    margin-left: 195px;
    margin-top: -187px;
  }
}
@media screen and (max-width: 361px) {
  .Nouveau {
    margin-left: 185px;
  }
}
@media screen and (max-width: 321px) {
  .Nouveau {
    margin-left: 145px;
    margin-top: -175px;
  }
}

/* ---------- Titre avec coeur page restarant ---------- */
#color_fond {
  background-color: #eaeaea;
  position: relative;
}
@media screen and (min-width: 768px) {
  #color_fond {
    background-color: #fff;
  }
}

.titre_restaurant2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titre {
  font-size: 1.6em;
  font-family: "shrikhand", sans-serif;
  margin-left: 20px;
}

.coeur {
  margin-top: 27px;
  margin-left: 80px;
  font-size: 1.6em;
  color: transparent;
  /* Permet de mettre un élément transparent */
  -webkit-text-stroke: 2px #000000;
  /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone*/
  opacity: 0.4;
  /* Opacité d'un élément */
}

.coeur:hover {
  background: linear-gradient(80deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  /*  La zone d'arrière-plan s'étend dans le texte. (La forme) https://www.zonecss.fr/proprietes-css/webkit-background-clip-css.html */
  -webkit-text-stroke: 0px;
  /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone */
  opacity: 1;
  transition: cubic-bezier(0.9, 1, 0.6, 0.7), opacity 700ms ease-in 100ms;
  /* cubic 2 première pour la progression 2 suivant pour la durer, opacity la durer de l'opacity */
  /* ease-in 100ms le temps que le coeur arrive au bout la durer de l'éclaircissement */
}

@media screen and (max-width: 768px) {
  #color_fond {
    background-color: #eaeaea;
    border-radius: 40px 40px 0px 0px;
    margin-top: -65px;
    position: relative;
  }

  .titre_restaurant2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titre_restaurant2 .coeur {
    margin-top: 27px;
    margin-right: 36px;
    font-size: 1.6em;
  }
}
@media screen and (max-width: 418px) {
  #color_fond {
    background-color: #eaeaea;
    border-radius: 40px 40px 0px 0px;
    margin-top: -65px;
    position: relative;
  }

  .titre_restaurant2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .titre_restaurant2 .titre {
    font-size: 1.6em;
    font-family: "shrikhand", sans-serif;
    margin-left: 20px;
  }
  .titre_restaurant2 .coeur {
    margin-top: 27px;
    margin-right: 36px;
    font-size: 1.6em;
    margin-left: 0;
  }
}
@media screen and (max-width: 358px) {
  #color_fond {
    background-color: #eaeaea;
    border-radius: 40px 40px 0px 0px;
    margin-top: -65px;
    position: relative;
  }

  .titre_restaurant2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .titre_restaurant2 .titre {
    font-size: 1.4em;
    font-family: "shrikhand", sans-serif;
    margin-left: 20px;
  }
  .titre_restaurant2 .coeur {
    margin-top: 25px;
    margin-right: 26px;
    font-size: 1.4em;
    margin-left: 0;
  }
}
/* ---------- Bouton page restaurant x9 - x10 - x9 - x9 ---------- */
.contenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contenu .conteneur {
  margin: 30px;
  margin-top: 0px;
}
.contenu .titre_h2_restaurant {
  font-size: 1.1em;
  margin-left: 10px;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  font-weight: 400;
  font-family: "roboto";
}
@media screen and (max-width: 340px) {
  .contenu {
    font-size: 0.9em;
  }
}

.ensemble {
  width: 370px;
  height: 70px;
  box-shadow: 5px 5px 10px #b4b2b8;
  background: #fff;
  border-radius: 19px;
  cursor: pointer;
  animation: trans 20ms linear;
  /* Animation 20 ms avec un linear (pas d'accentuation à l'accélération ou à la décélération. Sa courbe est totalement droite du point A au point B) */
  -webkit-animation: trans 20ms linear;
  /* Idem pour Chrome (prefix) */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}
@media screen and (max-width: 390px) {
  .ensemble {
    width: 355px;
  }
}

article .cascade_1 {
  /* class crée  1=500ms en linear, 2=700ms linear, 3=900ms linear, 4=1100ms linear */
  animation: trans 500ms linear;
  -webkit-animation: trans 500ms linear;
  /* chrome */
}

article .cascade_2 {
  animation: trans 700ms linear;
  -webkit-animation: trans 700ms linear;
}

article .cascade_3 {
  animation: trans 900ms linear;
  -webkit-animation: trans 900ms linear;
}

article .cascade_4 {
  animation: trans 1100ms linear;
  -webkit-animation: trans 1100ms linear;
}

.titre_ensemble {
  font-family: "roboto";
  width: 80%;
  margin-left: 15px;
  font-size: 1em;
  font-weight: 400;
  text-overflow: ellipsis;
  /* text-overflow définit la façon dont le contenu textuel qui dépasse d'une boîte est signalé  les 3 petits points */
  overflow: hidden;
  /* overflow définit comment gérer le dépassement du contenu */
  white-space: nowrap;
  /* white-space est utilisée pour décrire la façon dont les blancs sont gérés au sein de l'élément (Pour depasser si besion) */
  /* https://developer.mozilla.org/fr/docs/Web/CSS/white-space */
}

.titre_h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.para {
  margin-top: -15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.prix {
  display: flex;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 650px) {
  .para {
    margin-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .para {
    margin-left: 0px;
  }
}
@media screen and (max-width: 361px) {
  .ensemble {
    width: 340px;
  }
}
@media screen and (max-width: 340px) {
  .ensemble {
    width: 300px;
  }
}
@keyframes trans {
  /* Un effet des bouton position Y translate 100% à 0% */
  /* https://openclassrooms.com/fr/courses/5919246-creez-des-animations-css-modernes/6340919-creez-des-animations-fluides-avec-la-propriete-css-transform */
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.rotate {
  /* align et justify permets de center l'icon */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 50%;
  /* Aparition 50%  conbiné avec le width hover rotate ligne 154*/
  max-width: 0;
  /* A sa disparition max 0 */
  overflow: hidden;
  background-color: #99E2D0;
  transition: all 0.5s linear;
  /* all  permet d’appliquer des transitions simultanément */
}

.fa-check-circle {
  color: #fff;
  font-size: 1.4em;
  transition: all 0.5s linear;
  margin-left: auto;
  margin-right: auto;
}

.ensemble:hover .rotate {
  max-width: 50px;
  border-radius: 0px 19px 19px 0px;
}

.ensemble:hover .fa-check-circle {
  transform: rotateZ(360deg);
  /* Ratation au survol du button à 360deg */
}

/* ---------- Bonton commander, page restaurant ---------- */
.commander {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: -40px;
  justify-content: center;
  align-items: center;
}

.button_commande {
  height: 43px;
  width: 160px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  /* crée une image constituée d'une transition progressive entre deux ou plusieurs couleurs */
  color: #fff;
  font-size: 1em;
  font-family: "roboto";
  margin-bottom: 0px;
  margin-top: 12px;
  cursor: pointer;
}
.button_commande:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px #b4b2b8;
}

/* ---------- Footer, liste à puce liens HyperText ---------- */
.pied_de_page {
  background-color: #595959;
  padding: 10px;
  margin-top: 50px;
  margin-top: 100px;
}
.pied_de_page h2 {
  color: #fff;
  font-size: 1.4em;
  margin-left: 20px;
  font-family: "shrikhand";
}

.list_footer {
  margin-top: 10px;
  margin-left: -20px;
  list-style-type: none;
  font-family: "roboto";
}
.list_footer a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}
.list_footer a:hover {
  border-bottom: 2px solid #fff;
}

i {
  margin-right: 10px;
}

/* ---------- Loader - LOADING ---------- */
.loader {
  position: fixed;
  /* Position fixex 100 100 */
  height: 100%;
  width: 100%;
  animation: loader 0.01s;
  animation-fill-mode: both;
  /*  indique la façon dont une animation CSS doit appliquer les styles avec animation-delay qui définit la durée d'attente avant de démarrer une animation début et fin */
  animation-delay: 3s;
  /* Durer de l'animation */
  z-index: 10000;
  /* La propriété z-index permet de préciser l'empilement de certains éléments d'une page */
  /* https://www.alsacreations.com/astuce/lire/84-Comment-fonctionne-la-propriete-CSS-z-index-.html */
  /* Aucun bord et center milieu avec un background */
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.loader__item {
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  animation: saut 1s;
  /* Animation pour le Keyframes en bas du code  le temps que les carrés qui bouge entre eux */
  animation-iteration-count: 1;
  /* indique le nombre de cycles utilisés pour répéter une animation */
  margin: 0;
}

.loader__item_ensemble {
  display: flex;
  width: auto;
  justify-content: space-between;
  border: 5px solid #99E2D0;
  padding: 8px;
  color: #fff;
}

.loader__item--1 {
  background-color: #9356DC;
  animation-delay: 0.25s;
  /* Pour avoir un bonne intervale entre les item */
}

.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.5s;
}

.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.25s;
}

.loader__item--4 {
  background-color: #9356DC;
  animation-delay: 0.5s;
}

.loader__item--5 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}

.loader__item--6 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

.loader__item--7 {
  background-color: #9356DC;
  animation-delay: 0.25s;
}

@keyframes loader {
  100% {
    opacity: 0;
    /* Aucune opacité */
    z-index: -10;
    /* Permets de ne plus le voir et d'avoir accès aux site */
  }
}
@keyframes saut {
  /* Loading */
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0.5em);
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
/* 
    Différence animation et keyframes ? 
        Les animations (transition) vont d'un point A à B.
        Les keyframes peuvent évoluer au plus il y a des % 
*/

/*# sourceMappingURL=style.css.map */
