/* ---------- Figure restaurant page accueil ---------- */
.restaurant {
    background-color: $color-recherche-ville;

    #h2_restaurant {
        text-align: center;
        font-size: 1.7em;
        padding: 30px;
        font-family: "roboto", sans-serif;
        font-weight: bold;

        @media screen and (max-width: 500px) {
            text-align: left;
            margin-top: 50px;
            padding-top: 60px;
        }
    }
}

#ensemble_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -100px;
    margin-top: -10px;
    padding: 10px;
}

figure {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 800px;
    height: 330px;

    img {
        height: 250px;
        width: 800px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}

@media screen and (max-width: 824px) {
    figure {
        width: 585px;
        height: 270px;
        margin-bottom: 10px;

        img {
            width: 585px;
            height: 190px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 641px) {
    figure {
        width: 560px;

        img {
            width: 560px;
        }
    }
}

@media screen and (max-width: 569px) {
    figure {
        width: 450px;

        img {
            width: 450px;
        }
    }
}

@media screen and (max-width: 415px) {
    figure {
        width: 335px;
        height: 250px;
        margin-top: -20px;
        margin-bottom: 40px;

        img {
            width: 335px;
            height: 170px;
        }
    }
}

@media screen and (max-width: 376px) {
    figure {
        width: 290px;
        height: 220px;

        img {
            width: 290px;
            height: 150px;
        }
    }

    @media screen and (max-width: 361px) {
        figure {
            width: 280px;

            img {
                width: 280px;
            }
        }
    }
}

@media screen and (max-width: 321px) {
    figure {
        width: 240px;
        height: 210px;

        img {
            width: 240px;
            height: 140px;
        }
    }
}

.icon {
    width: 30px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 1.5em;
    color: transparent; /* Permet de mettre un élément transparent */
    -webkit-text-stroke: 2px #000000; /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone*/
    opacity: 0.4; /* Opacité d'un élément */
    
}

.icon:hover {
    background: linear-gradient(80deg, #FF79DA, #9356DC);
    -webkit-background-clip: text; /*  La zone d'arrière-plan s'étend dans le texte. (La forme) https://www.zonecss.fr/proprietes-css/webkit-background-clip-css.html */
    -webkit-text-stroke: 0px; /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone */
    opacity: 1;
    transition: cubic-bezier(0.90, 1, 0.60, 0.70), opacity 700ms ease-in 100ms; /* cubic 2 première pour la progression 2 suivant pour la durer, opacity la durer de l'opacity */
    /* ease-in 100ms le temps que le coeur arrive au bout la durer de l'éclaircissement */
}

figcaption h2 {
    font-size: 1.3em;
    font-family: "roboto";
    color: black;
    margin-left: 15px;
    margin-top: 10px;

    @media screen and (max-width: 376px) {
        font-size: 1.1em;
    }
}

figcaption h3 {
    font-size: 1.2em;
    font-family: "roboto";
    color: black;
    font-weight: 300;
    margin-left: 15px;
    margin-top: -10px;

    @media screen and (max-width: 376px) {
        font-size: 1em;
    }
}

a {
    text-decoration: none;
}

.Nouveau {
    width: 100px;
    font-family: "roboto";
    font-size: 1.2em;
    padding: 7px;
    margin-top: -280px;
    margin-left: 650px;
    position: relative;
    background-color: $color-tertiaire;
    text-align: center;
    border-radius: 1px 1px 1px 1px;
    color: #16a581;
    font-weight: bold;

    @media screen and (max-width: 824px) {
            margin-left: 460px;
            margin-top: -230px;
    }

    @media screen and (max-width: 641px) {
        margin-left: 430px;
    }

    @media screen  and (max-width: 569px) {
        margin-left: 320px;
    }

    @media screen and (max-width: 415px) {
        margin-left: 235px;
        margin-top: -205px;
        width: 70px;
        padding: 7px;
        font-size: 1em;
    }

    @media screen and (max-width: 376px) {
        margin-left: 195px;
        margin-top: -187px;
    }

    @media screen and (max-width: 361px) {
        margin-left: 185px;
    }

    @media screen and (max-width: 321px) {
        margin-left: 145px;
        margin-top: -175px;
    }
}