/* ---------- Titre avec coeur page restarant ---------- */
#color_fond {
    background-color: $color-recherche-ville;
    position: relative;

    @media screen and (min-width: 768px) {
        background-color: white;
    }
}

.titre_restaurant2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.titre {
    font-size: 1.6em;
    font-family: "shrikhand", sans-serif;
    margin-left: 20px;
}

.coeur {
    margin-top: 27px;
    margin-left: 80px;
    font-size: 1.6em;
    color: transparent; /* Permet de mettre un élément transparent */
    -webkit-text-stroke: 2px #000000; /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone*/
    opacity: 0.4; /* Opacité d'un élément */        
}

.coeur:hover {
    background: linear-gradient(80deg, #FF79DA, #9356DC);
    -webkit-background-clip: text; /*  La zone d'arrière-plan s'étend dans le texte. (La forme) https://www.zonecss.fr/proprietes-css/webkit-background-clip-css.html */
    -webkit-text-stroke: 0px; /* Permet de définir l'épaisseur et la couleur du contour Texte ou icone */
    opacity: 1;
    transition: cubic-bezier(0.90, 1, 0.60, 0.70), opacity 700ms ease-in 100ms; /* cubic 2 première pour la progression 2 suivant pour la durer, opacity la durer de l'opacity */
    /* ease-in 100ms le temps que le coeur arrive au bout la durer de l'éclaircissement */
}

@media screen and (max-width: 768px) {
    #color_fond {
        background-color: $color-recherche-ville;
        border-radius: 40px 40px 0px 0px;
        margin-top: -65px;
        position: relative;
    }
    
    .titre_restaurant2 {
        display: flex;
        justify-content: center;
        width: 100%;
    
        .coeur {
            margin-top: 27px;
            margin-right: 36px;
            font-size: 1.6em;
        }
    }
}

@media screen and (max-width: 418px) {
    #color_fond {
        background-color: $color-recherche-ville;
        border-radius: 40px 40px 0px 0px;
        margin-top: -65px;
        position: relative;
    }
    
    .titre_restaurant2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    
        .titre {
            font-size: 1.6em;
            font-family: "shrikhand", sans-serif;
            margin-left: 20px;
        }
    
        .coeur {
            margin-top: 27px;
            margin-right: 36px;
            font-size: 1.6em;
            margin-left: 0; 
        }
    }
}

@media screen and (max-width: 358px) {
    #color_fond {
        background-color: $color-recherche-ville;
        border-radius: 40px 40px 0px 0px;
        margin-top: -65px;
        position: relative;
    }
    
    .titre_restaurant2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    
        .titre {
            font-size: 1.4em;
            font-family: "shrikhand", sans-serif;
            margin-left: 20px;
        }
    
        .coeur {
            margin-top: 25px;
            margin-right: 26px;
            font-size: 1.4em;
            margin-left: 0; 
        }
    }
}