.pied_de_page {
    background-color: #595959;
    padding: 10px;
    margin-top: 50px;
    margin-top: 100px;

    h2{
        color: white;
        font-size: 1.4em;
        margin-left: 20px;
        font-family: "shrikhand";
    }
}

.list_footer {
    margin-top: 10px;
    margin-left: -20px;
    list-style-type: none;
    font-family: "roboto";

    a {
        font-size: 1em;
        color: white;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid white;
    }
}

i {
    margin-right: 10px;
}