/* ---------- Font shrihand logo, titre et roboto le reste ---------- */
@font-face {
    font-family: "shrikhand";
    src: url(sass/base/polices/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(sass/base/polices/Roboto/Roboto-Regular.ttf);
}
  
  @font-face {
    font-family: "roboto-black";
    src: url(sass/base/polices/Roboto/Roboto-Black.ttf);
}
  