/* ---------- Bouton explorez nos restaurant ---------- */
.button_explorez {
    height: 43px;
    width: 210px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(#FF79DA, #9356DC); /* crée une image constituée d'une transition progressive entre deux ou plusieurs couleurs */
    color: white;
    font-size: 0.9em;
    font-family: 'roboto';
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.80;
        box-shadow: 0px 5px 10px #b4b2b8;
    }
}